doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
html(
data-props= JSON.stringify(props)
)
head
    meta(charset='utf-8')
    style
      include  Bootstrap.css
      

    title= pageTitle

body()


  .page-header-top
      .container
        span#head
          h1
             span#thing_name(itemprop='name') Welcome to Weather Reporting isomorphic App
       


 h3
   #content!= content

    //  footer
    //  .container.footerWrap
    // h4
     //  some footer content_to_disply 